@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
body {
  font-family: "Poppins";
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.jumbotron {
  background: url("../img/image1.jpg") no-repeat center center fixed !important;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100vh;
}

#jumbotron-header {
  height: inherit;
  padding-top: 150px;
  padding-bottom: 50px;
}

.carousel-img {
  filter: brightness(35%) blur(1px);
}

.title-head {
  font-family: "Yeseva One";
}

.item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.desc-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.text-description {
  line-height: 30px;
}
